/* colors */
/* common functions */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

html {
  line-height: 1.15;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  /* Prevent font size adjustments after orientation changes; iOS */
}

body {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
}

main {
  display: block;
  /* Render main; IE */
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

img {
  border-style: none;
}

h1 {
  font-size: 2rem;
  margin: 0.67em 0;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
  /* Good fieldset paddings */
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  /* Remove margin; Firefox and Safari */
}

button,
input {
  overflow: visible;
  /* Show overflow; IE and Edge */
}

button,
select {
  text-transform: none;
  /* Remove text-transform inheritance; Edge, Firefox, and IE */
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* allow styling clickable types; iOS and Safari */
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  /* Remove inner border and padding; Firefox */
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  /* Restore focus due to the change above; Firefox */
  outline: 1px dotted ButtonText;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  /* Correct the cursor style of increment and decrement buttons; Chrome */
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct odd appearance; Chrome and Safari */
  outline-offset: -2px;
  /* Correct outline style; Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove inner padding; Chrome and Safari on macOS */
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* correct box sizing; IE 10 */
  padding: 0;
  /* remove padding; IE 10 */
}

textarea {
  overflow: auto;
}

hr {
  box-sizing: content-box;
  /* Correct box sizing; Firefox */
  height: 0;
  /* Correct box sizing; Firefox */
  overflow: visible;
  /* Show overflow; Edge and IE */
}

pre {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
}

code,
kbd,
samp {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

/* Prevent `sub` and `sup` elements 
from affecting line height */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

progress {
  vertical-align: baseline;
  /* correct vertical alignment; Chrome, Firefox, and Opera */
}

details {
  display: block;
  /* correct display; Edge, IE 10+, and Firefox */
}

summary {
  display: list-item;
  /* Correct display */
}

template {
  display: none;
  /* Correct display; IE 10+ */
}

[hidden] {
  display: none;
  /* Correct display; IE 10 */
}

/* =========================================================
    ALL
============================================================ */
.all__h1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #1F2937;
  color: #e9ecf3;
}

.all__header-logo {
  flex: 2;
  font-weight: 900;
}

.all__header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0em 0em 0em 0.8em;
  text-align: right;
}

.all__footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #1F2937;
  color: #e9ecf3;
}

/* =========================================================
    index.html 
============================================================ */
.index__c1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F2937;
  color: #e9ecf3;
}

.index__subheader-texts {
  padding-right: 2em;
  flex: 0.5;
}

.index__subheader-text1 {
  margin: 0;
  font-weight: 900;
}

.index__subheader-text2 {
  margin: 0;
  font-weight: 300;
}

.index__signup-button {
  width: fit-content;
  border-radius: 7px;
  padding: 0.3em 2em 0.3em 2em;
  background-color: #3882F6;
  color: #e9ecf3;
  white-space: nowrap;
  font-weight: 700;
}

.index__signup-button1 {
  margin: 1em 0em 1em 0em;
}

.index__subheader-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 0.5;
}

.index__subheader-img img {
  width: 100%;
  height: 100%;
  max-width: 25em;
  max-height: 30em;
  image-rendering: high-quality;
}

.index__c2-container,
.contact__c1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #e9ecf3;
  color: #1F2937;
}

.index__content-title {
  width: 100%;
  margin: auto;
  padding: 1em 0em 1em 0em;
  font-weight: 900;
  text-align: center;
}

.index__content-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.index__content-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 10em;
  height: 10em;
  margin: 1em;
}

.index__content-box-box {
  width: 80%;
  height: 80%;
  margin-bottom: 0.3em;
  border-style: solid;
  border-color: #3882F6;
  border-radius: 10px;
}

.index__content-box-box img {
  max-width: 100%;
  height: 100%;
  border-radius: 7px;
  image-rendering: high-quality;
}

.index__content-box-content {
  text-align: center;
  height: 1em;
}

.index__c3-container,
.contact__c2-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  color: #1F2937;
}

.quote-container {
  max-width: 50em;
}

.index__quote {
  margin-bottom: 0.8em;
  font-weight: 300;
  font-style: italic;
}

.index__quote-author {
  text-align: right;
  font-weight: 900;
}

.index__c4-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9ecf3;
  color: #1F2937;
}

.index__cta {
  max-width: 50em;
  border-radius: 10px;
  background-color: #3882F6;
  color: #e9ecf3;
}

.index__cta-texts {
  flex: 1;
  margin-bottom: 2em;
}

.index__cta-text1 {
  margin: 0em 0em 0.4em 0em;
  font-weight: 900;
}

.index__cta-text2 {
  margin: 0px 0px 0px 0px;
  font-weight: 300;
}

.index__signup-button2 {
  width: fit-content;
  border-style: solid;
  border-color: #e9ecf3;
  border-width: 2px;
}

/* =========================================================
    contact.html
============================================================ */
.contact__contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.contact__fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  max-width: 20em;
  background-color: #ffffff;
  color: #1F2937;
}

.contact__contact-input {
  padding: 1em;
}

.contact__contact-input input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #8d8d8d;
  border-radius: 4px;
}

.contact__contact-input input:invalid {
  border-color: #d43c3c;
}

.contact__moreInfo {
  height: 10em;
  width: 100%;
  padding: 0.5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.contact__submit-button {
  padding: 0.5em 1em 0.5em 1em;
  margin: 1em;
  border: none;
  border-radius: 10px;
  background-color: #1F2937;
  color: #e9ecf3;
  font-weight: 900;
  cursor: pointer;
}

.contact__submit-button:active {
  background-color: #184ea3;
}

.contact__map {
  margin: 1em;
  width: 25em;
}

.contact__map iframe {
  width: 100%;
  height: 100%;
}

/* =========================================================
    store.html
============================================================ */
.store__c1-container {
  background-color: #e9ecf3;
  color: #1F2937;
}

.store__item-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.store__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 10em;
  height: 10em;
  margin: 2em;
}

.store__item-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  border: 1px solid #8d8d8d;
  border-radius: 10px;
  margin-bottom: 1em;
}

.store__item-pic div {
  width: 100%;
  height: 100%;
}
.store__item-pic div img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.store__item-name {
  text-align: center;
}

.store__item-price {
  text-align: center;
  color: #646464;
  font-size: 90%;
}

.store__c2-container {
  background-color: #e0e0e0;
  color: #1F2937;
}

/* =========================================================
    media queries
============================================================ */
@media only screen and (max-width: 350px) {
  /* Phone */
  .all__header-logo,
.index__subheader-text1,
.index__content-title,
.index__quote {
    font-size: 20px;
    font-size: 2.4rem;
  }

  .index__subheader-text2,
.index__signup-button,
.index__quote-author,
.index__cta-text1,
.contact__fieldset,
.contact__moreInfo {
    font-size: 16px;
    font-size: 1.6rem;
  }

  .all__footer-container,
.all__header-link,
.index__content-box-content,
.index__cta-text2 {
    font-size: 12px;
    font-size: 1.2rem;
  }

  .contact__c2-container {
    font-size: 12px;
    font-size: 1.2rem;
  }

  .big-container {
    padding: 2em 2em 2em 2em;
  }

  .index__cta {
    padding: 2em 2em 2em 2em;
  }

  .contact__map {
    height: 20em;
  }
}
@media only screen and (min-width: 350.1px) and (max-width: 700px) {
  /* Phone */
  .all__header-logo,
.index__subheader-text1,
.index__content-title,
.index__quote {
    font-size: 24px;
    font-size: 2.4rem;
  }

  .index__subheader-text2,
.index__signup-button,
.index__quote-author,
.index__cta-text1,
.contact__fieldset,
.contact__moreInfo {
    font-size: 18px;
    font-size: 1.8rem;
  }

  .all__footer-container,
.all__header-link,
.index__content-box-content,
.index__cta-text2 {
    font-size: 16px;
    font-size: 1.6rem;
  }

  .contact__c2-container {
    font-size: 12px;
    font-size: 1.2rem;
  }

  .big-container {
    padding: 2em 2em 2em 2em;
  }

  .index__cta {
    padding: 2em 2em 2em 2em;
  }

  .contact__map {
    height: 20em;
  }
}
@media only screen and (min-width: 700.1px) and (max-width: 1023px) {
  /* Tablet */
  .all__header-logo,
.index__subheader-text1,
.index__content-title {
    font-size: 40px;
    font-size: 4rem;
  }

  .index__subheader-text2,
.index__signup-button,
.index__quote,
.index__quote-author,
.index__cta-text1 {
    font-size: 30px;
    font-size: 3rem;
  }

  .all__footer-container,
.all__header-link,
.index__content-box-content,
.index__cta-text2 {
    font-size: 20px;
    font-size: 2.4rem;
  }

  .contact__c2-container,
.contact__fieldset,
.contact__moreInfo {
    font-size: 18px;
    font-size: 1.8rem;
  }

  .big-container {
    padding: 3em 4em 3em 4em;
  }

  .index__subheader-img {
    flex: 0.6;
  }

  .index__cta {
    padding: 3em 3em 3em 3em;
  }

  .contact__map {
    flex: 1;
    height: 40em;
  }
}
@media only screen and (min-width: 1023.1px) {
  /* Laptop */
  html {
    margin: 0 auto;
  }

  .all__header-logo,
.index__subheader-text1,
.index__content-title {
    font-size: 40px;
    font-size: 4rem;
  }

  .index__subheader-text2,
.index__signup-button,
.index__quote,
.index__quote-author,
.index__cta-text1 {
    font-size: 30px;
    font-size: 3rem;
  }

  .all__footer-container,
.all__header-link,
.index__content-box-content,
.index__cta-text2,
.contact__fieldset,
.contact__moreInfo {
    font-size: 20px;
    font-size: 2.4rem;
  }

  .all__header-link {
    margin: 0em 0em 0em 3em;
  }

  .contact__c2-container {
    font-size: 18px;
    font-size: 1.8rem;
  }

  .big-container {
    padding: 3em 4em 3em 4em;
  }

  .index__subheader-img {
    flex: 0.3;
  }

  .index__cta {
    padding: 2em 6em 2em 6em;
  }

  .contact__map {
    flex: 1;
    height: 45em;
  }
}

/*# sourceMappingURL=style.css.map */
