/* colors */
/* common functions */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: white;
}

.all__h1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #1F2937;
  color: #e9ecf3;
}

.all__header-logo {
  flex: 2;
  font-weight: 900;
}

.all__header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em 0.8em 0em 0.8em;
}

.all__footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #1F2937;
  color: #e9ecf3;
}

.index__c1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: #1F2937;
  color: #e9ecf3;
}

.index__subheader-texts {
  flex: 0.5;
  padding-right: 2em;
}

.index__subheader-text1 {
  margin: 0;
  font-weight: 900;
}

.index__subheader-text2 {
  margin: 0;
  font-weight: 100;
}

.index__signup-button {
  width: fit-content;
  border-radius: 7px;
  padding: 0.3em 2em 0.3em 2em;
  background-color: #3882F6;
  color: #e9ecf3;
  white-space: nowrap;
  font-weight: 700;
}

.index__signup-button1 {
  margin: 1em 0em 1em 0em;
}

.index__subheader-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.5;
}

.index__subheader-img img {
  width: 100%;
  height: 100%;
}

.index__c2-container,
.contact__c1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #e9ecf3;
  color: #1F2937;
}

.index__content-title {
  width: 100%;
  margin: auto;
  padding: 1em 0em 1em 0em;
  font-weight: 900;
  text-align: center;
}

.index__content-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.index__content-box {
  width: 8em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}

.index__content-box-box {
  width: 100%;
  height: 8em;
  margin-bottom: 0.7em;
  border-style: solid;
  border-color: #3882F6;
  border-radius: 15px;
}

.index__content-box-box img {
  max-width: 100%;
  height: 8em;
  border-radius: 10px;
}

.index__content-box-content {
  text-align: center;
  height: 1em;
}

.index__c3-container,
.contact__c2-container {
  background-color: #e0e0e0;
  color: #1F2937;
}

.index__quote {
  padding-top: 2em;
  margin-bottom: 0.8em;
  font-weight: 100;
  font-style: italic;
}

.index__quote-author {
  padding-bottom: 3em;
  text-align: right;
  font-weight: 900;
}

.index__c4-container {
  background-color: #e9ecf3;
  color: #1F2937;
}

.index__cta {
  border-radius: 10px;
  background-color: #3882F6;
  color: #e9ecf3;
}

.index__cta-texts {
  flex: 1;
  margin-bottom: 2em;
}

.index__cta-text1 {
  margin: 0em 0em 0.4em 0em;
  font-weight: 900;
}

.index__cta-text2 {
  margin: 0px 0px 0px 0px;
  font-weight: 100;
}

.index__signup-button2 {
  width: fit-content;
  border-style: solid;
  border-color: #e9ecf3;
  border-width: 2px;
}

.contact__fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  min-width: 20em;
  margin-bottom: 3em;
  background-color: #ffffff;
  color: #1F2937;
}

.contact__contact-form {
  padding: 1em;
}

.contact__contact-form input {
  width: 100%;
  padding: 0.4em;
  border: 1px solid #8d8d8d;
  border-radius: 4px;
}

.contact__moreInfo {
  height: 10em;
  width: 100%;
  padding: 0.4em;
  font-family: Helvetica, Arial, sans-serif;
}

.contact__submit-button {
  padding: 0.5em 1em 0.5em 1em;
  margin: 1em;
  border: none;
  border-radius: 10px;
  background-color: #1F2937;
  color: #e9ecf3;
  font-weight: 900;
  cursor: pointer;
}

.contact__submit-button:active {
  background-color: #184ea3;
}

.store__c1-container {
  background-color: #e9ecf3;
  color: #1F2937;
}

.store__item-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.store__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 10em;
  height: 10em;
  margin: 2em;
}

.store__item-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  border: 1px solid #8d8d8d;
  border-radius: 10px;
  margin-bottom: 1em;
}

.store__item-pic div {
  width: 100%;
  height: 100%;
}
.store__item-pic div img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.store__item-name {
  text-align: center;
}

.store__item-price {
  text-align: center;
  color: #646464;
  font-size: 90%;
}

.store__c2-container {
  background-color: #e0e0e0;
  color: #1F2937;
}

@media only screen and (min-width: 250px) and (max-width: 700px) {
  /* Phone */
  .all__header-logo,
.index__subheader-text1,
.index__content-title,
.index__quote {
    font-size: 24px;
    font-size: 2.4rem;
  }

  .index__subheader-text2,
.index__signup-button,
.index__quote-author,
.index__cta-text1,
.contact__fieldset,
.contact__moreInfo {
    font-size: 18px;
    font-size: 1.8rem;
  }

  .all__footer-container,
.all__header-link,
.index__content-box-content,
.index__cta-text2 {
    font-size: 16px;
    font-size: 1.6rem;
  }

  .contact__c2-container {
    font-size: 12px;
    font-size: 1.2rem;
  }

  .big-container {
    padding: 2em 2em 2em 2em;
  }

  .index__cta {
    padding: 2em 2em 2em 2em;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1023px) {
  /* Tablet */
  .all__header-logo,
.index__subheader-text1,
.index__content-title,
.index__quote {
    font-size: 50px;
    font-size: 5rem;
  }

  .index__subheader-text2,
.index__signup-button,
.index__quote-author,
.index__cta-text1 {
    font-size: 40px;
    font-size: 4rem;
  }

  .all__footer-container,
.all__header-link,
.index__content-box-content,
.index__cta-text2,
.contact__fieldset,
.contact__moreInfo {
    font-size: 24px;
    font-size: 2.4rem;
  }

  .contact__c2-container {
    font-size: 18px;
    font-size: 1.8rem;
  }

  .big-container {
    padding: 5em 5em 5em 5em;
  }

  .index__cta {
    padding: 3em 3em 3em 3em;
  }
}
@media only screen and (min-width: 1024px) {
  /* Laptop */
  html {
    width: 102.4em;
    margin: 0 auto;
  }

  .all__header-logo,
.index__subheader-text1,
.index__content-title,
.index__quote {
    font-size: 60px;
    font-size: 6rem;
  }

  .index__subheader-text2,
.index__signup-button,
.index__quote-author,
.index__cta-text1 {
    font-size: 30px;
    font-size: 3rem;
  }

  .all__footer-container,
.all__header-link,
.index__content-box-content,
.index__cta-text2,
.contact__fieldset,
.contact__moreInfo {
    font-size: 24px;
    font-size: 2.4rem;
  }

  .contact__c2-container {
    font-size: 18px;
    font-size: 1.8rem;
  }

  .big-container {
    padding: 5em 5em 5em 5em;
  }

  .index__cta {
    padding: 2em 6em 2em 6em;
  }
}

/*# sourceMappingURL=style.css.map */
