

/* colors */
$colorWhiteRed: #f3e9e9;
$colorWhiteBlue: #e9ecf3;
$colorWhiteYellow: #f3f3e9;

$colorGreyLight: #e0e0e0;
$colorOrangeLight: #ffdfaf;

$colorGreyPastel: #bebebe;
$colorOrangePastel: #ffc16f;
$colorPinkPastel: #ffa1dd;
$colorRedPastel: #ff9e9e;

$colorWhite: #ffffff;
$colorGrey: #8d8d8d;
$colorBlue: #3882F6;
$colorOrange: #ff941b;
$colorRed: #c43737;

$colorBlueHeavy: #184ea3;
$colorGreyHeavy: #646464;

$colorGreyDark: #383838;
$colorBlueDark: #1F2937;
$colorBrownDark: #270d00;
$colorRedDark: #770000;


/* common functions */
@mixin custStyleDoc() {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        @include custFontFamBasic();
      }

    html {
        font-size: 62.5%;
    }

    body {
        @include custFontSizeBody();
    }

    a {
        text-decoration: none;
        color: white;
    }
}


@mixin custFlexCenterAll() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin custColorBg($backgroundColor) {
    background-color: $backgroundColor;
}

@mixin custColorFt($color) {
    color: $color;
}

@mixin custThemeBlueDarkWhite() {
    @include custColorBg($colorBlueDark);
    @include custColorFt($colorWhiteBlue);
}

@mixin custThemeBlueWhite() {
    @include custColorBg($colorBlue);
    @include custColorFt($colorWhiteBlue);
}

@mixin custThemeWhiteBlueBlueDark() {
    @include custColorBg($colorWhiteBlue);
    @include custColorFt($colorBlueDark);
}

@mixin custThemeGreyLightBlueDark() {
    @include custColorBg($colorGreyLight);
    @include custColorFt($colorBlueDark);
}

@mixin custFontSizeBody() {
    font-size: 16px;
    font-size: 1.6rem;
}

@mixin custFontSizeExtraLarge() {
    font-size: 60px;
    font-size: 6rem;
}

@mixin custFontSizeVeryLarge() {
    font-size: 50px;
    font-size: 5rem;
}

@mixin custFontSizeLarge() {
    font-size: 40px;
    font-size: 4.0rem;
}

@mixin custFontSizeMedLarge() {
    font-size: 30px;
    font-size: 3.0rem;
}

@mixin custFontSizeMed() {
    font-size: 24px;
    font-size: 2.4rem;
}

@mixin custFontSizeMedSmall() {
    font-size: 20px;
    font-size: 2.4rem;
}

@mixin custFontSizeSmall() {
    font-size: 18px;
    font-size: 1.8rem;
}

@mixin custFontSizeVerySmall() {
    font-size: 16px;
    font-size: 1.6rem;
}

@mixin custFontSizeExtraSmall() {
    font-size: 12px;
    font-size: 1.2rem;
}


@mixin custFontFamMono() {
    font-family: 'Courier New', Courier, monospace;
}


@mixin custFontFamBasic() {
    font-family: Helvetica, Arial, sans-serif;
}