
/* colors */
$colorWhite1: #ffffff;
$colorWhiteRed: #f3e9e9;
$colorWhiteBlue: #e9ecf3;
$colorWhiteYellow: #f3f3e9;

$colorGrey1: #e0e0e0;
$colorGrey3: #8d8d8d;

$colorOrange1: #ffedd5;
$colorOrange2: #fed7aa;
$colorOrange3: #fdba74;
$colorOrange4: #fb923c;
$colorOrange5: #f97316;
$colorOrange6: #ea580c;
$colorOrange7: #c2410c;
$colorOrange8: #9a3412;
$colorOrange9: #7c2d12;
$colorOrange10: #581802;


$colorGrey1: #f3f4f6;
$colorGrey2: #e5e7eb;
$colorGrey3: #d1d5db;
$colorGrey4: #9ca3af;
$colorGrey5: #6b7280;
$colorGrey6: #4b5563;
$colorGrey7: #374151;
$colorGrey8: #1f2937;
$colorGrey9: #111827;
$colorGrey10: #121724;

$colorRed1: #ffe4e6;
$colorRed2: #fecdd3;
$colorRed3: #fda4af;
$colorRed4: #fb7185;
$colorRed5: #f43f5e;
$colorRed6: #e11d48;
$colorRed7: #be123c;
$colorRed8: #9f1239;
$colorRed9: #881337;
$colorRed10: #300f17;

$colorCyan1: #cffafe;
$colorCyan2: #a5f3fc;
$colorCyan3: #67e8f9;
$colorCyan4: #22d3ee;
$colorCyan5: #06b6d4;
$colorCyan6: #0891b2;
$colorCyan7: #0e7490;
$colorCyan8: #155e75;
$colorCyan9: #164e63;
$colorCyan10: #0f2730;

$colorBlue1: #dbeafe;
$colorBlue2: #bfdbfe;
$colorBlue3: #93c5fd;
$colorBlue4: #60a5fa;
$colorBlue5: #3b82f6;
$colorBlue6: #2563eb;
$colorBlue7: #1d4ed8;
$colorBlue8: #1e40af;
$colorBlue9: #1e3a8a;
$colorBlue10: #0f1a30;

$colorBrown9: #270d00;
