
@import "./_rsrc";


@include custStyleDoc();


a {
    text-decoration: none;
    color: white;
}


.all__h1-container {
    @include custFlexCenterAll();
    flex-flow: row wrap;
    justify-content: space-between;

    padding-top: 2em;
    padding-bottom: 3em;
    @include custColorBg($colorBlueDark);
}

.all__header-logo {
    flex: 2;

    @include custFontSizeLarge();
    @include custColorFnt($colorWhiteBlue);
    font-weight: 900;
}

.all__header-link {
    @include custFlexCenterAll();
    padding: 0em 0.8em 0em 0.8em;

    font-size: 18px;
    color: #E5E7EB;
}

.index__c1-container {
    @include custFlexCenterAll();
    justify-content: space-between;
    
    padding-top: 3em;
    padding-bottom: 8em;
    @include custColorBg($colorBlueDark);
}

.index__subheader-texts {
    flex: 0.5;
    padding-right: 3em;
}

.index__subheader-text1 {
    margin: 0;

    @include custFontSizeLarge();
    @include custColorFnt($colorWhiteBlue);
    font-weight: 900;
}

.index__subheader-text2 {
    margin: 0;
    
    @include custFontSizeMed();
    @include custColorFnt($colorWhiteBlue);
    font-weight: 100;
}

.index__signup-button {
    width: fit-content;
    border-radius: 7px;
    padding: 0.3em 2em 0.3em 2em;

    @include custColorBg($colorBlue);
    @include custColorFnt($colorWhiteBlue);
    @include custFontSizeMed();
    font-weight: 700;

}

.index__signup-button1 {
    margin: 1em 0em 1em 0em;
}

.index__subheader-img {
    @include custFlexCenterAll();
    flex: 0.5;
}

.index__subheader-img img {
    max-width: 100%;
    max-height: 100%;
}

.index__c2-container {
    @include custFlexCenterAll();
    flex-flow: row wrap;
    padding-top: 3em;
    padding-bottom: 8em;
} 

.index__content-title {
    width: 100%;
    margin: auto;
    padding: 1em 0em 1em 0em;
    
    @include custColorFnt($colorBlueDark);
    @include custFontSizeLarge();
    font-weight: 900;
    text-align: center;
}

.index__content-box-container {
    @include custFlexCenterAll();
    flex-flow: row wrap;
}

.index__content-box {
    width: 8em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.index__content-box-box {
    width: 100%;
    height: 8em;
    margin-bottom: 0.7em;
    border-style: solid;
    border-color: $colorBlue;
    border-radius: 15px;
}

.index__content-box-box img {
    max-width: 100%;
    height: 8em;
    border-radius: 10px;
}

.index__content-box-content {
    @include custFontSizeSmall();
    text-align: center;
    color: $colorGreyHeavy;
    height: 1em;
}

.index__c3-container {
    padding-top: 3em;
    padding-bottom: 3em;

    @include custColorBg($colorWhiteBlue);
}

.index__quote {
    padding-top: 2em;
    margin-bottom: 0.8em;

    font-weight: 100;
    font-style: italic;
    @include custColorFnt($colorBlueDark);
    @include custFontSizeLarge();
}

.index__quote-author {
    padding-bottom: 3em;

    @include custFontSizeMed();
    text-align: right;
    font-weight: 900;
}

.index__c4-container {
    padding-top: 5em;
    padding-bottom: 6em;
}

.index__cta {
    @include custFlexCenterAll();
    padding: 2em 6em 2em 6em;
    border-radius: 10px;

    @include custColorBg($colorBlue);
    @include custColorFnt($colorWhiteBlue);
}

.index__cta-texts {
    flex: 1;
    padding-right: 3em;
}

.index__cta-text1 {
    margin: 0em 0em 0.4em 0em;
    font-weight: 900;

    @include custFontSizeMed();
}

.index__cta-text2 {
    margin: 0px 0px 0px 0px;

    @include custFontSizeSmall();
    font-weight: 100;
}

.index__signup-button2 {
    width: fit-content;
    border-style: solid;
    border-color: $colorWhiteBlue;
    border-width: 2px;
}

.all__footer-container {
    @include custFlexCenterAll();
    text-align: center;
    padding: 3em 10em 3em 10em;

    @include custFontSizeSmall();
    @include custColorBg($colorBlueDark);
    @include custColorFnt($colorWhiteBlue);
}

fieldset {
    @include custFlexCenterAll();
    flex-flow: column wrap;
    min-width: 20em;
    margin: 2em 4em 4em 4em;

    @include custColorFnt($colorGreyDark);
}

.main-form-1 {
    min-height: 100%;
}

.main-form-2 {
    min-height: 100%;
}

.contact-form {
    padding: 1em 1em 1em 1em;

    @include custFontSizeSmall();
}

.contact-form input {
    width: 100%;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    border: 1px solid $colorGrey;
    border-radius: 4px;
}

#moreInfo {
    height: 10em;
    width: 100%;

    @include custFontFamBasic();
    @include custFontSizeSmall();
}

.submit-button {
    padding: 0.5em 1em 0.5em 1em;
    border: none;
    border-radius: 10px;

    @include custColorBg($colorBlue);
    @include custColorFnt($colorWhiteBlue);
    font-weight: 900;
    cursor: pointer;
}

.submit-button:active {
    @include custColorBg($colorBlueHeavy)
}


@media only screen and (min-width: 40.1rem) and (max-width: 96rem) {
    /* Tablet */
}

@media only screen and (min-width: 96.1rem) {
    /* Desktop */
    .html {
        width: 96rem;
        margin: 0 auto;
    }
}