
@import "./_rsrc";


@include custResetDoc();


/* =========================================================
    ALL
============================================================ */
.all__big-container {
    padding-top: 3em;
    padding-bottom: 3em;
}

.all__h1-container {
    position: fixed;
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    @include custThemeGrey9Blue1();
}

.all__headers {
    @include custFlexCenterAll();
    justify-content: space-between;
}

.all__header-logo {
    flex: 2;

    font-weight: 900;
}

.all__header-link {
    @include custFlexCenterAll();
    margin: 0em 0em 0em 0.8em;

    text-align: right;
}

.all__footer-container {
    @include custFlexCenterAll();
    padding-top: 2.5em;
    padding-bottom: 2.5em;

    text-align: center;
    @include custThemeGrey9Blue1();
}


/* =========================================================
    index.html 
============================================================ */
.index__c1-container {
    padding-top: 8em;
    @include custFlexCenterAll();
    @include custThemeGrey9Blue1();
}

.index__subheader-texts {
    padding-right: 2em;
    flex: 0.5;
}

.index__subheader-text1 {
    margin: 0;

    font-weight: 900;
}

.index__subheader-text2 {
    margin: 0;
    
    font-weight: 300;
}

.index__signup-button {
    width: fit-content;
    border-radius: 7px;
    padding: 0.3em 2em 0.3em 2em;

    @include custThemeBlue6Blue1();
    white-space: nowrap;
    font-weight: 700;

}

.index__signup-button1 {
    margin: 1em 0em 1em 0em;
}

.index__subheader-img {
    @include custFlexCenterAll();
    height: 100%;
    flex: 0.5;
}

.index__subheader-img img {
    width: 100%;
    height: 100%;
    max-width: 25em;
    max-height: 30em;
    image-rendering: high-quality;
}

.index__c2-container {
    @include custFlexCenterAll();
    @include custThemeGrey2Grey9();
    padding-top: 4em;
}

.index__content-title {
    width: 100%;
    margin: auto;
    padding: 1em 0em 1em 0em;
    
    font-weight: 900;
    text-align: center;
}

.index__content-box-container {
    @include custFlexCenterAll();
}

.index__content-box {
    @include custFlexCenterAll();
    width: 10em;
    height: 10em;
    margin: 1em;
}

.index__content-box-box {
    width: 80%;
    height: 80%;
    margin-bottom: 0.3em;
    border-style: solid;
    border-color: $colorBlue5;
    border-radius: 10px;
}

.index__content-box-box img {
    max-width: 100%;
    height: 100%;
    border-radius: 7px;
    image-rendering: high-quality;
}

.index__content-box-content {
    text-align: center;
    height: 1em;
}

.index__c3-container,
.contact__c2-container {
    @include custFlexCenterAll();
    @include custThemeGrey3Grey9();
}

.quote-container {
    max-width: 50em;
}

.index__quote {
    margin-bottom: 0.8em;
    font-weight: 300;
    font-style: italic;
}

.index__quote-author {
    text-align: right;
    font-weight: 900;
}

.index__c4-container {
    @include custFlexCenterAll();
    @include custThemeGrey2Grey9();
}

.index__cta {
    max-width: 50em;
    border-radius: 10px;

    @include custThemeBlue6Blue1();
}

.index__cta-texts {
    flex: 1;
    margin-bottom: 2em;
}

.index__cta-text1 {
    margin: 0em 0em 0.4em 0em;

    font-weight: 900;
}

.index__cta-text2 {
    margin: 0px 0px 0px 0px;

    font-weight: 300;
}

.index__signup-button2 {
    width: fit-content;
    border-style: solid;
    border-color: $colorBlue1;
    border-width: 2px;
}


/* =========================================================
    contact.html
============================================================ */
.contact__c1-container {
    @include custFlexCenterAll();
    padding-top: 8em;
    @include custThemeGrey2Grey9();
}

.contact__contact-form {
    @include custFlexCenterAll();
    margin: 1em;
}

.contact__fieldset {
    @include custFlexCenterAll();
    flex-flow: column wrap;
    max-width: 20em;

    @include custColorBg($colorWhite);
    @include custColorFt($colorGrey9);
}

.contact__contact-input {
    padding: 1em;
}

.contact__moreInfo {
    height: 10em;
}

.contact__contact-input > input,
.contact__moreInfo {
    width: 100%;
    padding: 0.5em;
    border: 2px solid $colorGrey1;
    border-radius: 4px;
}
.contact__contact-input > input:focus,
.contact__moreInfo:focus {
    outline: none !important;
    border-color: $colorBlue5;
    box-shadow: 1px 1px 4px $colorGrey4;
}
.contact__contact-input > input:invalid,
.contact__moreInfo:invalid {
    border-color: $colorRed6;
}

.contact__submit-button {
    padding: 0.5em 1em 0.5em 1em;
    margin: 1em;
    border: none;
    border-radius: 10px;

    @include custThemeGrey9Blue1();
    font-weight: 900;
    cursor: pointer;
}

.contact__submit-button:active {
    @include custColorBg($colorBlue9)
}

.contact__map {
    margin: 1em;
    width: 25em;
}

.contact__map iframe {
    width: 100%;
    height: 100%;
}


/* =========================================================
    store.html
============================================================ */
.store__c1-container {
    @include custFlexCenterAll();
    padding-top: 8em;
    padding-bottom: 6em;
    @include custThemeGrey2Grey9();
}

.store__title {
    width: 100%;
    padding: 1em 1em 1em 1em;
    text-align: center;
}

.store__item-list {
    @include custFlexCenterAll();
    max-width: 65em;
}

.store__item {
    @include custFlexCenterAll();
    width: 10em;
    height: 10em;
    margin: 2em;
}

.store__item-pic {
    @include custFlexCenterAll();
    width: 100%;
    height: 80%;
    border:1px solid $colorGrey3;
    border-radius: 10px;
    margin-bottom: 1em;
}

.store__item-pic div {
    width: 100%;
    height: 100%;
    & img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

.store__item-name {
    text-align: center;
}

.store__item-price {
    text-align: center;
    @include custColorFt($colorGrey7);
    font-size: 90%;
}

.store__c2-container {
    @include custThemeGrey3Grey9();
}


/* =========================================================
    media queries
============================================================ */
@media only screen and (max-width: 360px) {
    /* Small phones */
    .all__header-logo,
    .index__subheader-text1,
    .index__content-title,
    .index__quote,
    .store__title {
        @include custFontSizeMS();
    }

    .index__subheader-text2,
    .index__signup-button,
    .index__quote-author,
    .index__cta-text1,
    .contact__fieldset,
    .contact__moreInfo {
        @include custFontSizeXS();
    }

    .all__footer-container,
    .all__header-link,
    .index__content-box-content,
    .index__cta-text2,
    .contact__c2-container {
        @include custFontSizeXXS();
    }

    .all__big-container {
        padding-left: 2em;
        padding-right: 2em;
    }

    .index__cta {
        padding: 2em 2em 2em 2em;
    }

    .contact__map {
        height: 20em;
    }
}

@media only screen and (min-width: 360.1px) and (max-width: 800px) {
    /* Phone */
    .all__header-logo,
    .index__subheader-text1,
    .index__content-title,
    .index__quote,
    .store__title {
        @include custFontSizeML();
    }

    .index__subheader-text2,
    .index__signup-button,
    .index__quote-author,
    .index__cta-text1,
    .contact__fieldset,
    .contact__moreInfo {
        @include custFontSizeS();
    }

    .all__footer-container,
    .all__header-link,
    .index__content-box-content,
    .index__cta-text2 {
        @include custFontSizeXS();
    }

    .contact__c2-container,
    .store__c2-container {
        @include custFontSizeXXS();
    }

    .all__big-container {
        padding-left: 2em;
        padding-right: 2em;
    }

    .index__cta {
        padding: 2em 2em 2em 2em;
    }

    .contact__map {
        height: 20em;
    }
}

@media only screen and (min-width: 800.1px) and (max-width: 1200px) {
    /* Tablet */
    .all__header-logo,
    .index__subheader-text1,
    .index__content-title,
    .store__title {
        @include custFontSizeL();
    }

    .index__subheader-text2,
    .index__signup-button,
    .index__quote,
    .index__quote-author,
    .index__cta-text1 {
        @include custFontSizeML();
    }

    .all__footer-container,
    .all__header-link,
    .index__content-box-content,
    .index__cta-text2 {
        @include custFontSizeMS();
    }

    .contact__fieldset,
    .contact__moreInfo {
        @include custFontSizeS();
    }

    .contact__c2-container,
    .store__c2-container {
        @include custFontSizeXXS();
    }

    .all__big-container {
        padding-left: 4em;
        padding-right: 4em;
    }

    .all__header-link {
        margin: 0em 0em 0em 2em;
    }

    .index__subheader-img {
        flex: 0.5;
    }

    .index__cta {
        padding: 3em 5em 3em 5em;
    }

    .contact__map {
        flex: 1;
        height: 40em;
    }
}

@media only screen and (min-width: 1200.1px) {
    /* Laptop */
    html {
        margin: 0 auto;
    }

    .all__header-logo,
    .index__subheader-text1,
    .index__content-title,
    .store__title {
        @include custFontSizeL();
    }

    .index__subheader-text2,
    .index__signup-button,
    .index__quote,
    .index__quote-author,
    .index__cta-text1 {
        @include custFontSizeML();
    }

    .all__footer-container,
    .all__header-link,
    .index__content-box-content,
    .index__cta-text2,
    .contact__fieldset,
    .contact__moreInfo {
        @include custFontSizeMS();
    }

    .contact__c2-container,
    .store__c2-container {
        @include custFontSizeXS();
    }

    .all__big-container {
        padding-left: 4em;
        padding-right: 4em;
    }

    .all__header-link {
        margin: 0em 0em 0em 2em;
    }
    
    .index__subheader-img {
        flex: 0.3;
    }

    .index__cta {
        padding: 2em 6em 2em 6em;
    }

    .contact__map {
        flex: 1;
        height: 45em;
    }
}

